prediction-job/model/*
prediction-job/.idea
web/node_modules/*
prediction-job/mlflow/artifacts/*
prediction-job/mlflow/mlflow.db
web/.env
maven/docker/prediction-job/*
venv
.metals
.vscode
.bloop
bin

